<div>
    <p class="contacts mb-16">
        <a href="mailto:support@e-transport.gov.ua" class="contacts-link font-weight-bold"> support@e-transport.gov.ua </a> 
        - цілодобово
    </p>

    <p class="contacts mb-8">Телефон лінії підтримки:</p>

    <div class="contacts d-flex align-items-center mb-16">
        <div class="d-flex flex-column mr-8">
            <a href="tel:380443553128" class="contacts-link font-weight-bold"> +38 (044) 355 31 28 </a>
        </div>
        пн-пт з 9:00 до 18:00
    </div>
</div>
