<div>
    <h3
        class='pt-50 mb-24 w-75 text-left'
    >
        Проект реалізовано Міністерством інфраструктури України, ДП Галузевий центр цифровізації та
        кібербезпеки та Державною службою морського та річкового транспорту України
    </h3>

    <p
        class="contacts mb-8">
        <br />
        Якщо ви маєте зауваження або пропозиції, будь ласка, повідомте нам:
    </p>

    <p
        class='contacts mb-16'
    >
        <a
            href='mailto:help@marad.com.ua'
            class='contacts-link font-weight-bold'
        >
            help@marad.com.ua
        </a>
        - цілодобово
    </p>

    <p
        class='contacts mb-8'
    >
        З питань реєстрації кабінету моряка:
    </p>

    <p
        class='contacts mb-16'
            >
        <a
            href='tel:380443347347'
            class='contacts-link font-weight-bold'
        >
            +38 (044) 334 73 47
        </a>
        пн-пт з 9:00 до 18:00
    </p>
    <p class='contacts mb-8'>З технічних питань:</p>

<div
        class='contacts d-flex align-items-center mb-32'
    >
        <div
            class='d-flex flex-column mr-8'
        >
            <a
                href='tel:380443347347'
                class='contacts-link font-weight-bold'
            >
                +38 (044) 334 73 47
            </a>
            <a
                href='tel:380443347347'
                class='contacts-link font-weight-bold'
            >
                +38 (044) 355 31 28
            </a>
        </div>
        пн-пт з 9:00 до 18:00
    </div>
</div>
