{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<style type="text/css">

    @page {
        background-image: url('/static/stamp.pdf');

    }


    @font-face {
        font-family: "Alice-Regular";
        src: url('/static/OpenSans-Regular.ttf');
    }

    body {
        font-family: "Alice-Regular";
    }

</style>
<body>
<div style="z-index: 9999">
    <div>
        <span>{{ company_name }}</span>
        <span>ЄРДПОУ/ІПН</span>
        <span>{{ company_ERDPOU }}</span>
    </div>
</div>
</body>
</html>
