{% extends 'sailor/base.html' %}
{% load static %}
{% block container_fluid %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
{#                    <div class="dropdown">#}
{#                        <button class="btn btn-secondary btn-round dropdown-toggle px-3" type="button"#}
{#                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"#}
{#                                aria-expanded="false">#}
{#                            <i class="mdi mdi-settings mr-1"></i>Settings#}
{#                        </button>#}
{#                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">#}
{#                            <a class="dropdown-item" href="#">Action</a>#}
{#                            <a class="dropdown-item" href="#">Another action</a>#}
{#                            <a class="dropdown-item" href="#">Something else here</a>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <h4 class="page-title">Сводная ведомость остатков</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-data">
                    <h6 class="d-inline-block">Обьеденение моряков</h6>
                    <div class="float-right ml-2">
                        <div class="dropdown">
                            <a class="btn btn-outline-light btn-sm" id="dropdownMenuButton2" data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="mdi mdi-settings mr-1"></i>
                            </a>
{#                            <div>#}
                            <ul class="dropdown-menu dropdown-menu-right checkbox-menu allow-focus testu" aria-labelledby="dropdownMenuButton2">

                            </ul>
{#                            </div>#}
                        </div>
                    </div>
{#                    <div class="float-right ml-4">#}
{#                        <button class="btn btn-secondary btn-round px-3" type="button"#}
{#                                id="today-button" aria-haspopup="true"#}
{#                                aria-expanded="false" onclick="getBills('today')" >#}
{#                            <i class="mdi mdi-calendar-today mr-1"></i>#}
{#                            Сегодня#}
{#                        </button>#}
{#                        <button class="btn btn-secondary btn-round px-3" type="button"#}
{#                                id="today-button" aria-haspopup="true"#}
{#                                aria-expanded="false" onclick="getBills('lastday')">#}
{#                            <i class="mdi mdi-settings mr-1"></i>#}
{#                            Вчера#}
{#                        </button>#}
{#                        <button class="btn btn-secondary btn-round px-3" type="button"#}
{#                                id="today-button" aria-haspopup="true"#}
{#                                aria-expanded="false" onclick="getBills('last7days')">#}
{#                            <i class="mdi mdi-settings mr-1"></i>#}
{#                            Последние 7 дней#}
{#                        </button>#}
{#                        <button class="btn btn-secondary btn-round px-3" type="button"#}
{#                                id="today-button" aria-haspopup="true"#}
{#                                aria-expanded="false" onclick="toggleCalendar()">#}
{#                            <i class="mdi mdi-calendar-blank mr-1"></i>Выбрать дату#}
{#                            <input type="text" class="btn btn-secondary btn-round px-6 datetmp" placeholder="Выберите дату" id="datepicker-multiple-date" style="width: 15rem">#}
{#                        </button>#}
{#                    </div>#}
                    <div class="table col-md-6">

                        <span>Фио моряка: </span><span id="from_sailor_fio"></span>
                        <br>
                        <span>Номер моряка: </span><span id="from_sailor_id"></span>
                        <p>С какого моряка перенести? Чем выше моряк тем больше у него документов.</p>
                        <div class="ui search" id="sailor_from_search" style="margin-top: 3rem; margin-bottom: 3rem">
                            <input class="prompt" style="width: 600px" type="text" placeholder="ФИО">
                            <div class="results"></div>
                        </div>

                        <div>
                            <p>Выберите что хотите перенести:</p>

                            <label><input name="type_documents" onclick="getData()" type="radio" value="qual_doc">Квал документы</label>
                            <label><input name="type_documents" onclick="getData()" type="radio" value="educ">Образовательные документы</label>
                            <label><input name="type_documents" onclick="getData()" type="radio" value="sert_ntz">Сертификаты нтз</label>
                            <label><input name="type_documents" onclick="getData()" type="radio" value="statement_dkk">Заявки ДКК</label>
                            <label><input name="type_documents" onclick="getData()" type="radio" value="protocol_dkk">Протокол дкк</label>
                        </div>
                        <div class="table_clear">
                            <table class="table table-bordered old_sailor_table" id="old_sailor_table">
                                <thead>
                                <tr>
                                    <th class="border-top-0">Субьект</th>
                                    <th class="border-top-0">Тип документа</th>
                                    <th class="border-top-0">Номер документа</th>
                                    <th class="border-top-0">Информация</th>
                                </tr>
                                </thead>
                                <tfoot class="tfoot-bills-table">

                                </tfoot>
                                <tbody class="all-bills-table">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="dateCalendar">

                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/api.min.js"
            integrity="sha256-und4HgOg2CxzBcqdJOvcT9LfJx0Hf9xQmEO/u7r1Ync=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.js"></script>
<script src="{% static 'sailor/js/index.js' %}"></script>
{% endblock %}