[Unit]
Description=Celery Service
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
WorkingDirectory=/usr/port_back/
ExecStartPre=/bin/mkdir -p /tmp/celery/pid/
ExecStartPre=/bin/chown www-data:www-data -R /tmp/celery/

ExecStart=/bin/sh -c '/usr/port_back-env/bin/celery multi start redis -A port_back --pidfile=/tmp/celery/pid/pid.pid --logfile=/var/log/port_back/celery.log --loglevel=INFO --time-limit=300 -E'

ExecStop=/bin/sh -c '/usr/port_back-env/bin/celery multi stopwait redis --pidfile=/tmp/celery/pid/pid.pid'


[Install]
WantedBy=multi-user.target

