[Unit]
Description=Welcome to your nightmares, dev

[Service]
Type=forking
ExecStartPre=/bin/mkdir -p /var/log/port_back/
ExecStartPre=-/bin/chown -R www-data:www-data /var/log/port_back/
ExecStart=/usr/port_back-env/bin/uwsgi --ini /root/uwsgi.ini --logto /var/log/port_back/log
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=main
WorkingDirectory=/usr/port_back/
Restart=always

[Install]
WantedBy=multi-user.target

