[Unit]
Description=Celery Service
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
WorkingDirectory=/usr/apps/ac-back/
ExecStartPre=/bin/mkdir -p /tmp/celery/pid
ExecStartPre=/bin/chown www-data:www-data -R /tmp/celery

ExecStart=/bin/sh -c '/usr/venvs/ac-back/bin/celery multi start $(hostname) -A itcs --pidfile=/tmp/celery/pid/pid-itcs.pid   --logfile=/var/log/ac-back/celery-itcs.log --time-limit=300 -E'
ExecStop=/bin/sh -c '/usr/venvs/ac-back/bin/celery multi stopwait $(hostname) --pidfile=/tmp/celery/pid/pid-itcs.pid'

[Install]
WantedBy=multi-user.target

