gcc
pkgconf
autoconf
automake
libtool
make
libxml2
libxslt-dev
musl-dev
libffi-dev
python-dev
libxml2-dev
libxmlb-dev
python3-dateutil
postgresql-server-dev-all
libsnmp-dev
redis-server
python3-redis
python3-pip
git