cryptography
wheel
Django==2.2
djangorestframework==3.10.3
markdown==3.1.1
django-filter==2.2.0
psycopg2==2.8.4
docxtpl==0.6.3
django-cors-headers
django-pgcrypto-fields
Pillow==6.2.1
pyOpenSSL==19.1.0
requests==2.22.0
Celery
flower
python-dateutil
redis
sentry-sdk
python-u2flib-server
translitua
python-Levenshtein
django-taggit
openpyxl
drf_yasg
uwsgi
pypng==0.0.20
PyQRCode==1.2.1
twilio
django-gm2m
xlrd
python-dotenv
boto3
django_redis
loguru
django-ses
django-prometheus
djangorestframework-simplejwt
django-clearcache
boto3
drf-nested-routers
workdays
turbosmsua
python-logstash