<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Номер: {{ full_number }}</p>
<p>Назва судна: {{ type_vessel }}</p>
<p>Валова місткість: {{ gross_tonnage }}</p>
<p>Флаг: {{ flag }}</p>
<p>ФИО капитана: {{ master_fullname }}</p>
<p>Вантаж: {{ cargo_name }}</p>
<p>Следующий порт входа: {{ next_port }}</p>
<p>Дата выхода: {{ io_datetime }}</p>
<p>Дата на выход с порта: {{ datetime_issued }}</p>
<p>Remarks: {{ remarks }}</p>
</body>
</html>